<div class="header">
    <div class="container">
        <h2 class="py-5 text-white">Benvenuto su OPNS</h2>
        <p class="text-white">la prima wiki italiana su ONE PIECE che ti protegge da qualsiasi tipo di SPOILER!!
            Al fine di garantire il nostro servizio ti chiediamo una semplice registrazione per
            farci sapere a che punto della storia ti trovi. In questo modo saremo in grado di
            nascondere tutto il contenuto "pericoloso".
        </p>
        <div class="alert py-4">
            <h3 class="text-danger text-center">ATTENZIONE</h3>
            <p class="text-danger">PRIMA DI REGISTRARTI TI CONSIGLIAMO DI VISITARE LA SEZIONE INFO,
                PER AVERE BEN CHIARO TUTTO QUELLO CHE TI SERVE SAPERE SUL FUNZIONAMENTO DEL SITO.
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row pb-5">
            <div class="col text-white">Ricchezza, fama e potere ti aspettano!!</div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 pt-5">
            <div class="card cover text-bg-light shadow-lg">
                <img src="../../../assets/img/cover/volume1.jpg" class="card-img-top" alt="vol1">
                <div class="card-body">
                    <p class="card-text">Copertina del primo volume della
                        New Edition italiana del manga</p>
                </div>
            </div>
        </div>
        <div class="col-lg-8 offset-lg-1 col-md-7 offset-md-1 col-sm-12 pt-5">
            <p>One Piece (ONE PIECE - ワンピース Wan Pīsu) è un manga scritto e disegnato da Eiichirō Oda, serializzato sulla
                rivista Weekly Shōnen Jump di Shūeisha dal 22 luglio 1997. La casa editrice ne raccoglie periodicamente
                i capitoli in volumi formato tankōbon, di cui il primo è stato pubblicato il 24 dicembre. L'edizione
                italiana è curata da Star Comics, che ne ha iniziato la pubblicazione in albi corrispondenti ai volumi
                giapponesi il 1º luglio 2001.</p>
            <p>La storia segue le avventure di Monkey D. Rufy, un ragazzo il cui corpo ha assunto le proprietà della
                gomma dopo aver inavvertitamente ingerito un frutto del diavolo. Raccogliendo attorno a sé una ciurma,
                Rufy esplora la Rotta Maggiore in cerca del leggendario tesoro One Piece e inseguendo il sogno di
                diventare il nuovo Re dei pirati.</p>
            <p>One Piece è adattato in una serie televisiva anime, prodotta da Toei Animation e trasmessa in Giappone su
                Fuji TV dal 20 ottobre 1999. L'edizione italiana è andata in onda su Italia 1 dal 5 novembre 2001 per
                poi continuare su Italia 2 nel 2012; inizialmente intitolata All'arrembaggio!, la serie ha avuto diversi
                cambi di denominazione nel corso delle stagioni fino ad assestarsi sull'originale One Piece.</p>
            <p>Toei Animation ha prodotto inoltre 13 special televisivi, 14 film anime, due cortometraggi 3D, un ONA e
                un OAV. Svariate compagnie ne hanno tratto merchandise di vario genere, come colonne sonore, videogiochi
                e giocattoli.</p>
            <p>One Piece ha goduto di uno straordinario successo. Diversi volumi del manga hanno raggiunto record di
                vendite e di tiratura iniziale in Giappone. Con oltre 500 milioni di copie in circolazione al 2022, è il
                manga ad avere venduto di più al mondo. Il 15 giugno 2015 è entrato inoltre nel Guinness dei primati
                come serie a fumetti disegnata da un singolo autore con il maggior numero di copie pubblicate: oltre 320
                milioni.</p>
        </div>
    </div>
</div>