.header{
    background-image: url(../../../assets/img/headerdawnmerry.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: fit-content;
    font-weight: bold;
    margin-top: 4rem;    
}
.alert{
    font-size: x-large;
}
.home-card{
    width: fit-content;
}