<div class="header">
    <div class="container">
        <h2 class="py-5 text-white">Vuoi unirti alla nostra ciurma?</h2>
        <h3 class="text-white">Completa la registrazione e preparati a salpare!!</h3>
        <div class="alert py-5">
            <h3 class="text-danger text-center">ATTENZIONE</h3>
            <p class="text-danger">PRIMA DI REGISTRARTI TI CONSIGLIAMO DI VISITARE LA SEZIONE INFO,
                PER AVERE BEN CHIARO TUTTO QUELLO CHE TI SERVE SAPERE SUL FUNZIONAMENTO DEL SITO.
            </p>
        </div>
    </div>
</div>
<form>
    <div class="container">
        <div class="row">
            <div class="col-12 pt-3">
                <input class="form-control" name="nome" type="text" placeholder="Nome" required>
            </div>
            <div class="col-12 pt-3">
                <input class="form-control" name="cognome" type="text" placeholder="Cognome" required>
            </div>
            <div class="col-12 pt-3">
                <input class="form-control" name="email" type="email" placeholder="E-mail" required>
            </div>
            <div class="col-12 pt-3">
                <input class="form-control" name="username" type="text" placeholder="Username" required>
            </div>
            <div class="col-12 pt-3">
                <input class="form-control" name="password" type="password" placeholder="Password" required>
            </div>
            <div class="col-12 pt-5">
                <p>
                    Per noi è fondamentale sapere qual è l’ultimo volume che hai
                    letto, potrai aggiornarlo in qualsiasi momento dalla sezione del
                    tuo profilo
                </p>
            </div>
            <div class="col-3 pt-3">
                <input class="form-control" name="volume" type="number" min="1" max="102" placeholder="Volume" required>
            </div>
            <div class="col-3 pt-3 offset-2">
                <button class="btn btn-success">REGISTRATI</button>
            </div>
        </div>
    </div>
</form>

