<div class="header">
    <div class="container">
        <h2 class="py-5 text-white">Benvenuto su OPNS</h2>
        <p class="text-white">la prima wiki italiana su ONE PIECE che ti protegge da qualsiasi tipo di SPOILER!! Al fine di garantire il nostro servizio ti chiediamo una semplice registrazione per farci sapere a che punto della storia ti trovi. In questo modo saremo in grado di nascondere tutto il contenuto "pericoloso".
        </p>
        <p class="text-white">Ti è mai capitato di dimenticare un dettaglio di un opera che magari segui da
            tanti anni? Allora sei andato su internet per cercarlo e ti sei trovato davanti a un
            terribile spoiler.
        </p>
        <p class="text-white">Che tu sia un fan di vecchia data o un neofita, One Piece è un opera molto lunga e può capitare di perdersi qualche dettaglio col passare degli anni, ma cercando sul web è molto facile imbatterti in qualcosa che non dovresti ancora sapere.
        </p>
        <p class="text-white">Con noi non dovrai più preoccuparti che questo succeda!!</p>
        <p class="text-danger">Registrati dicendoci qual è l’ultimo volume che hai letto, il sito si occuperà 
            di filtrare tutto il contenuto del nostro database in modo da mostrarti solo quello
            che devi sapere.
        </p>
        <p class="text-danger">Che stai aspettando? Unisciti a noi per questa grande avventura!!</p>
        <p class="text-danger">Non avere paura degli spoiler, qui non ne troverai!!</p>
        <button [routerLink]="['/register']" routerLinkActive="active" class="btn btn-success my-4">REGISTRATI</button>
    </div>
</div>
