@font-face {
    font-family: 'roboto-medium-italic';
    src: url(../../../assets/fonts/Roboto-MediumItalic.ttf);
}

*{
    font-family: 'roboto-medium-italic';
}

img{
    width: 50px;
    height: 58px;
}

.jolly{
    width: 100px;
    height: 100px;
}