<div class="header">
    <div class="container">
        <h2 class="py-5 text-white">Benvenuto nella sezione VOLUMI</h2>
        <h4 class="text-white">Questa è una collection virtuale di tutti i volumi che hai già letto</h4>
        <h4 class=" py-3 text-white">Hai dimenticato un dettaglio della storia che hai letto un'pò di tempo fa? Nessun
            problema, lo troverai qua</h4>
        <h3 class="py-5 text-danger">Ricordati di aggiornare l'ultimo volume letto man mano che prosegui con la storia
        </h3>
    </div>
</div>
<div class="container">

    <!-- Volumi -->

    <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-5">
        <div *ngFor="let scheda of schede | paginate: {itemsPerPage: 20, currentPage: page, totalItems: count}; let i = index"
            class="col">
            <div class="card cover mt-5 text-bg-light shadow-lg">
                <img src="../../../assets/img/cover/{{scheda.imgUrl}}" class="card-img-top cover-img" alt="cover">
                <div class="card-body">
                    <h5 class="card-title">Volume {{scheda.volume}}</h5>
                    <hr>
                    <a href="#" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDetails" class="float-end"
                        (click)="getSchedaDetails(scheda.id)">Dettagli</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Pagination controls -->

    <div class="d-flex justify-content-center mt-5 pt-5">
        <pagination-controls previousLabel="Prev" nextLabel="Next"
            (pageChange)="onTableDataChange($event)"></pagination-controls>
    </div>

    <!-- Loading -->

    <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center loading">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>

<!-- Details Offcanvas -->

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasDetails" aria-labelledby="offcanvasDetailsLabel">
    <div class="offcanvas-header bg-primary">
        <h5 class="offcanvas-title text-white" id="offcanvasDetailsLabel">Volume {{schedaDetails.volume}}</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h2 class="my-4">{{schedaDetails.titolo}}</h2>
        <img class="cover-offcanvas" src="../../../assets/img/cover/{{schedaDetails.imgUrl}}" alt="cover">
        <p class=" text-start mt-5 mx-3">{{schedaDetails.testo}}</p>
    </div>
</div>