@import '../home/home.component.scss';

.cover-offcanvas{
   height: 32rem;
   width: 22rem;
}

.div-loading{
   height: 500px;
}

.loading{
   height: 5rem;
   width: 5rem;
}

@media screen and (max-width: 1200px){
   .cover-img{
      height: 20rem;
   }
}

@media screen and (min-width: 1200px){
   .cover-img{
      height: 25rem;
   }
}